<div class="container">
  <div id="footer"> 
    <h4>Contact Us</h4>
    <p>
    Zeta Psi - Mu Theta<br/>
    11009 88 Avenue<br/>
    Edmonton, AB T6G 0Z7<br/>
    Phone: (780) 123-4567<br/>
    </p>
  </div>
</div>
