#header
  .container
    #header-top
      #account
        %ul
          - if member_signed_in?
            %li
              = link_to current_member.email, member_path(current_member)
            %li
              = link_to "Sign out", destroy_member_session_path, method: "delete"
          - else
            %li
              = link_to "Sign in", new_member_session_path
