<div id="header">
  <div class="container">
    <div id="header-top">
      <div id="account">
        <ul>
          <li><%= link_to "Login", '/login' %></li>
      </div>
    </div>
  </div>
</div>
