- provide(:title, 'About')

%div{:id => "editable", "data-mercury" => "full"}
  = raw @content.content
- if can? :edit, @content
  %p
    = link_to "Edit Content", "/editor" + request.path, id: "edit_link",
        data: { save_url: update_content_path(@content.name) }
