<% provide(:title, "Contact") %>

<h1>Contact Us</h1>

<p>For general inquiries, please email us at 
  <%= mail_to "zetapsi.mutheta@gmail.com"%>.
</p>

<p>For more specific inquiries, please contact us directly:
</p>

<h2>President - Max Anderson</h2>
<p>
Phone - (780) 123-4567 <br>
Email - <%= mail_to "max@gmail.com" %>
</p>

<h2>Social Chair - Dempsey Bolton</h2>
<p>
Phone - (780) 123-4567 <br>
Email - <%= mail_to "max@gmail.com" %>
</p>

<h2>Web Developer - Steve Jahns</h2>
<p>
Phone - (780) 123-4567 <br>
Email - <%= mail_to "max@gmail.com" %>
</p>
