@import "bootstrap";

/* mixins, variables, etc */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* main layout */

#header {
  background-color: #000000;
  margin-bottom: 10px;
}

#footer {
  margin-top: 20px;
  margin-bottom: 20px;

  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #777777;
  color: #FFFFFF;
  text-align: center;
}

#content {
  background-color: #DDD;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#account {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  ul {
    list-style: none;
    li {
      float: left;
      margin-left: 10px;

      a {
        color: #888
      }
    }
  }
}

#header-top {
  background-image: url(image-path("zetapsi-header-gold.png"));
  background-repeat: no-repeat;
  height: 115px;
}

.navbar {
  margin-bottom: 0px;
}

/* For members page */

.thumbnail.member_thumb {
  position: relative;
  max-width: 200px;
}

.thumbnail.member_thumb > .caption {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 4px;
  left: 4px;
  right: 4px;
}

.members-list {
  margin-top: 25px;
}

.form-wrapper {
  width: auto;
}

.member_photo {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;

}


.debug_dump
{
  margin-left: auto;
  margin-right: auto;
  @include box_sizing;
}
