body {
  background-color: #333;
  margin: 0px;
}

div#wrap {
  margin: 0 auto;
  width: 960px;
  padding-top: 1px;
}

div#navigation-bar {
  background-color: #aaa;
}

ul.nav {
  padding-left: 5px;
  list-style-type: none;
}

ul.nav li {
  display: inline;
  padding-right: 10px;
}

a.navlink:link, a.navlink:visited {
  color: #FFF;
  text-decoration: none;
}

a.navlink:hover, a.navlink:active {
  color: #FF3;
}

div#content {
  background-color: #fff;
}

div#footer {
  background-color: #aaa;
}
