body {
  background-color: #333;
  margin: 0px;
}

#wrap {
  margin: 0 auto;
  width: 960px;
  padding-top: 1px;
}

#navigation-bar {
  background-color: #aaa;
}

#content {
  background-color: #fff;
}

#footer {
  background-color: #aaa;
}
